@using System.Activities.Statements
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Movies</h2>
<input value="New Movie" type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("New","Movies")'" /> <br/>

@{
    if (Model.Any())
    {
        <table class="table table-bordered">
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Number in Stock</th>
                <th>Edit</th>
            </tr>
            @foreach (var movie in Model)
            {
                var releaseDate = movie.DateReleased.ToString("MMMM d, yyyy");
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Movie", new {id = movie.Id})</td>
                    <td>@movie.Genre.Name</td>
                    <td>@releaseDate</td>
                    <td>@movie.Quantity</td>
                    <td><input type="button" value="Edit" class="btn btn-danger" onclick="location.href='@Url.Action("Edit", "Movies", new {id = movie.Id})'"/></td>
                </tr>
            }
        </table>
    }
}