@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-text" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav mr-auto">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
        </ul>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Log Out" class="btn btn-warning"/>
    }
}
else
{
    <ul class="navbar-nav mr-autot">
        <li>@Html.ActionLink("Register", "Register", "Account", null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })</li>
    </ul>
}